OTR API/Service References/FBSCheckCallSrv/CheckCalls.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Login" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveCheckCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FBSCheckCall" type="tns:FBSCheckCall" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FBSCheckCall">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CheckCall" type="tns:CheckCalls" />
          <s:element minOccurs="0" maxOccurs="1" name="Load" type="tns:Loads" />
          <s:element minOccurs="0" maxOccurs="1" name="Driver" type="tns:Driver" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CheckCalls">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverTripID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Timezone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Offset" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GPSCoordinates" type="tns:GPSLocation" />
          <s:element minOccurs="0" maxOccurs="1" name="Documents" type="tns:ArrayOfDocuments" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GPSLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Lat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Long" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDocuments">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Documents" nillable="true" type="tns:Documents" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Documents">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentType" type="tns:DocumentTypeOption" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckCallID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileType" type="tns:FileTypeOption" />
          <s:element minOccurs="0" maxOccurs="1" name="FileBase64" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UploadID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DocumentTypeOption">
        <s:restriction base="s:string">
          <s:enumeration value="Driver" />
          <s:enumeration value="CheckCall" />
          <s:enumeration value="Other" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FileTypeOption">
        <s:restriction base="s:string">
          <s:enumeration value="NA" />
          <s:enumeration value="JPG" />
          <s:enumeration value="PNG" />
          <s:enumeration value="PDF" />
          <s:enumeration value="DOC" />
          <s:enumeration value="DOCX" />
          <s:enumeration value="XLS" />
          <s:enumeration value="XLSX" />
          <s:enumeration value="RTF" />
          <s:enumeration value="CSV" />
          <s:enumeration value="TXT" />
          <s:enumeration value="ODT" />
          <s:enumeration value="ODS" />
          <s:enumeration value="TIF" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Loads">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoadID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TripID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LoadStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Temp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPallets" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalWeight" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPieces" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalMiles" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HazMat" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyRep" type="tns:CompanyReps" />
          <s:element minOccurs="0" maxOccurs="1" name="LoadStops" type="tns:ArrayOfLoadStops" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverTripID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Driver" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ActiveDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CompanyReps">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RepID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLoadStops">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LoadStops" nillable="true" type="tns:LoadStops" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoadStops">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoadDetailID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoadID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoadStopNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StopTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StopType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ScheduleDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduleTimeFrom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduleTimeTo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AltPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GPSCoordinates" type="tns:GPSLocation" />
          <s:element minOccurs="0" maxOccurs="1" name="CommodityDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Pieces" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Pallets" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumbers" type="tns:ArrayOfReferenceNumbers" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReferenceNumbers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReferenceNumbers" nillable="true" type="tns:ReferenceNumbers" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReferenceNumbers">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReferenceNumberID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LoadDetailID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumberType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Driver">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cellphone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DriversLicense" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MCNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TruckNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TruckMake" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TruckTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TruckColor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrailerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrailerType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Capacity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Misc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Profile" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Notifications" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BackgroundSync" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResetToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Documents" type="tns:ArrayOfDocuments" />
          <s:element minOccurs="0" maxOccurs="1" name="Devices" type="tns:DriverDevice" />
          <s:element minOccurs="1" maxOccurs="1" name="GeoFenceRate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GeoFenceUnit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DriverDevice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Updated" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveCheckCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveCheckCallResult" type="tns:CheckCalls" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseCheckCallGeoCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FBSCheckCall" type="tns:FBSCheckCall" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseCheckCallGeoCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseCheckCallGeoCodeResult" type="tns:CheckCalls" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseGeoCodeCS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FBSCheckCall" type="tns:FBSCheckCall" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseGeoCodeCSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseGeoCodeCSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseGeoCodeALK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Long" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseGeoCodeALKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseGeoCodeALKResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseGeoALK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GPSCoordinates" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseGeoALKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseGeoALKResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="SaveCheckCallSoapIn">
    <wsdl:part name="parameters" element="tns:SaveCheckCall" />
  </wsdl:message>
  <wsdl:message name="SaveCheckCallSoapOut">
    <wsdl:part name="parameters" element="tns:SaveCheckCallResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseCheckCallGeoCodeSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseCheckCallGeoCode" />
  </wsdl:message>
  <wsdl:message name="ReverseCheckCallGeoCodeSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseCheckCallGeoCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseGeoCodeCSSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseGeoCodeCS" />
  </wsdl:message>
  <wsdl:message name="ReverseGeoCodeCSSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseGeoCodeCSResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseGeoCodeALKSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseGeoCodeALK" />
  </wsdl:message>
  <wsdl:message name="ReverseGeoCodeALKSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseGeoCodeALKResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseGeoALKSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseGeoALK" />
  </wsdl:message>
  <wsdl:message name="ReverseGeoALKSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseGeoALKResponse" />
  </wsdl:message>
  <wsdl:portType name="FBSCheckCall_InterfaceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCheckCall">
      <wsdl:input message="tns:SaveCheckCallSoapIn" />
      <wsdl:output message="tns:SaveCheckCallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseCheckCallGeoCode">
      <wsdl:input message="tns:ReverseCheckCallGeoCodeSoapIn" />
      <wsdl:output message="tns:ReverseCheckCallGeoCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseGeoCodeCS">
      <wsdl:input message="tns:ReverseGeoCodeCSSoapIn" />
      <wsdl:output message="tns:ReverseGeoCodeCSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseGeoCodeALK">
      <wsdl:input message="tns:ReverseGeoCodeALKSoapIn" />
      <wsdl:output message="tns:ReverseGeoCodeALKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseGeoALK">
      <wsdl:input message="tns:ReverseGeoALKSoapIn" />
      <wsdl:output message="tns:ReverseGeoALKSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FBSCheckCall_InterfaceSoap" type="tns:FBSCheckCall_InterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCheckCall">
      <soap:operation soapAction="http://tempuri.org/SaveCheckCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseCheckCallGeoCode">
      <soap:operation soapAction="http://tempuri.org/ReverseCheckCallGeoCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseGeoCodeCS">
      <soap:operation soapAction="http://tempuri.org/ReverseGeoCodeCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseGeoCodeALK">
      <soap:operation soapAction="http://tempuri.org/ReverseGeoCodeALK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseGeoALK">
      <soap:operation soapAction="http://tempuri.org/ReverseGeoALK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FBSCheckCall_InterfaceSoap12" type="tns:FBSCheckCall_InterfaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCheckCall">
      <soap12:operation soapAction="http://tempuri.org/SaveCheckCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseCheckCallGeoCode">
      <soap12:operation soapAction="http://tempuri.org/ReverseCheckCallGeoCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseGeoCodeCS">
      <soap12:operation soapAction="http://tempuri.org/ReverseGeoCodeCS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseGeoCodeALK">
      <soap12:operation soapAction="http://tempuri.org/ReverseGeoCodeALK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseGeoALK">
      <soap12:operation soapAction="http://tempuri.org/ReverseGeoALK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FBSCheckCall_Interface">
    <wsdl:port name="FBSCheckCall_InterfaceSoap" binding="tns:FBSCheckCall_InterfaceSoap">
      <soap:address location="http://ww2.vectortransport.com/inmotionfbs/CheckCalls.asmx" />
    </wsdl:port>
    <wsdl:port name="FBSCheckCall_InterfaceSoap12" binding="tns:FBSCheckCall_InterfaceSoap12">
      <soap12:address location="http://ww2.vectortransport.com/inmotionfbs/CheckCalls.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>